header .sign-up {
  width: 100%;
  height: 80px;
  background-color: black;
  
}
.signbut {
  margin-left: 850px;
  height: 43px;
  margin-top: 17px;
  width: 150px;
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: 400;
  border: 5px solid black;
  border-radius: 70px;
  cursor: pointer;
  transition: 1.5s;
  position: absolute;
}
.signbut:hover {
  color: whitesmoke;
  background-color: rgb(8, 27, 235);
  border: 5px solid rgb(250, 249, 247);
}
.sign-up input {
  height: 30px;
  width: 200px;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
main {
  width: 100%;
  margin: auto;
  height: 600px;
  background-image: url(image\foods.webp)
}
main .image{
  width: 100%;
  height: 600px;
  margin-top: 30px;
}
.signup-box {
  height: 500px;
  margin-top: -480px;
  margin-left: 33%;
  background-color: black;
  width: 30%;
  background-image: url(image/background.webp);
  position: absolute;
  border-radius: 20px;
}
.signup-box h1 {
  margin-left: 20px;
  margin-top: 20px;
}
.form-group1 {
  width: 99%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.form-control1 {
  width: 45%;
  height: 40px;
}
.form-control2 {
  width: 95%;
  height: 40px;
}
.form-group1 p {
  color: white;
  text-align: left;
  width: 100%;
  margin-left: 20px;
  margin-top: 5px;
  margin-block-end: 0px;
}
.birthday {
  width: 90%;
  margin: auto;
}
.select {
  width: 32%;
  height: 30px;
}
.form-group2 {
  width: 99%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.gender-grp {
  width: 30%;
  height: 30px;
  background-color: antiquewhite;
  text-align: center;
  line-height: 25px;
}
.signup-box p {
  font-size: larger;
  margin-left: 20px;
  margin-block-end: 0px;
  margin-top: 0px;
  color: white;
}
.button {
  margin-left: 150px;
  height: 35px;
  margin-top: 17px;
  width: 140px;
  text-align: center;
  font-size: 25px;
  color: rgb(243, 239, 239);
  font-weight: 400;
  border: 5px solid rgb(253, 252, 252);
  border-radius: 70px;
  cursor: pointer;
  transition: 1.5s;
  position: absolute;
}
.button:hover {
  color: whitesmoke;
  background-color: rgb(80, 80, 82);
  border: 5px solid rgb(250, 249, 247);
  
}