* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

.wholepage {
  width: 95%;
}

.head-section {
  width: 100%;
  height: 80px;
}
.backimage .content{
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin-top: -150px;
}

.content h1 {
  color: black;
  font-size: 40px;
}

.container {
  width: 100%;
  height: 68px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.backimage {
  width: 100%;
  height: 700px;
  position: relative;
}
nav ul {
  color: white;
    font-weight: bold;
    list-style: none;
    display: flex;
    font-size: 6mm;
    margin-top: 23px;
}
nav ul li a {
  text-decoration: none;
    color: white;
    padding: 1rem 2rem;
}
.button {
  width: fit-content;
    padding: 0 2rem;
    text-align: center;
    font-size: 35px;
    color: black;
    font-weight: 400;
    border: 5px solid black;
    border-radius: 100px;
    cursor: pointer;
    transform: translateY(250px);
    transition: 1.5s;
}
.button:hover {
  color: whitesmoke;
  background-color: rgb(6, 84, 23);
  border: 5px solid rgb(242, 175, 51);
}

.second-layout {
  width: 100%;
}
.second-layout h2 {
  align-items: center;
    font-size: 1.6rem;
    font-weight: bolder;
}

.second-layout .image {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.second-layout .image > * {
  flex: 1;
  text-align: center;
}

.second-layout p {
  font-size: 1.3rem;
}
.second-layout h1 {
  text-align: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bolder;
}
.recipes {
  width: 100%;
  margin-top: 4rem;
}
.recipes h1 {
  font-size: 70px;
  font-weight: bolder;
  margin-left: 30%;
  padding: 2rem;
}
.recipes .list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
}
.recipes .list .box {
  width: 32%;
   height: 300px;
}
.box img {
  width: 100%;
  height: 100%;
  max-height: 380px;
}
.box img:hover{
  height:105%;
}
.Box {
  background-color: whitesmoke;
  padding: 1rem;
}
.Box .content1 {
  display: flex;
    width: 100%;
    position: relative;
    justify-content: space-around;
}
.Box .content1 h1 {
  color: black;
    font-weight: bolder;
    font-size: 40px;
    width: 100%;
}

.Box img {
    display: block;
    max-height: 380px;
}

.Box p {
  width: 100%;
  color: black;
  font-size: 20px;
}
.restaurents h1 {
  margin-top: 5rem;
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
}
.foot {
  width: 100%;
  background-color: black;
  display: flex;
}
.foot .listt {
  padding-top: 2.5rem;
  flex: 4;
}
.listt ul {
  list-style: none;
  display: flex;
  list-style: none;
}
.listt li {
  color: white;
}
.listt ul li a {
  text-decoration: none;
  color: white;
  padding: 2rem;
}
.terms p {
  color: white;
  font-size: 1rem;
  padding: 2rem;
}
.terms p a {
  color: white;
}

.foot .image-container {
  display: flex;
  align-items: center;
  flex: 1;
}
.foot img {
  display: block;
  height: auto;
  width: 100%;
  /* opacity: 0.5; */
}

.burger {
  display: none;
  color: white;
  font-size: 2rem;
  align-items: center;
}

@media screen and (max-width: 991px){
  .Box .content1 {
      flex-direction: column;
  }
}

@media screen and (max-width: 730px){
  .second-layout .image {
      flex-direction: column;
  }

  .recipes .list {
      flex-direction: column;
  }

  .recipes .list .box {
      width: initial;
      margin: 2rem 0;
  }
}

@media screen and (max-width: 655px){
  .burger {
      display: flex;
  }

  nav ul {
      display: none;
  }
}

@media screen and (max-width: 450px){
  .foot .image-container {
      display: none;
  }
  .listt ul li a {
      padding: 1rem;
  }

  .button {
      transform: translateY(350px)
  }

  .recipes h1 {
      font-size: 3rem;
  }
}
  
