.container {
  width: 100%;
}

.homelayout {
  width: 100%;
  height: 600px;
}

.homelayout h1 {
  text-align: center;
  color: aliceblue;
  position: relative;
  margin-top: 320px;
  font-size: 40px;
  font-weight: bold;
}
.homelayout .fixed header ul {
  width: 90%;
  height: 65px;
  margin-left: 100px;
  list-style: none;
  display: flex;
  gap: 3rem;
  position: fixed;
  margin-left: 795px;
}

.homelayout video {
  position: absolute;
  width: 100%;
  background-size: cover;
  display: flex;
  margin-top: 60px;
}
.homelayout ul li a {
  color: rgba(16, 15, 15, 0.896);
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.homelayout img {
  height: 100px;
  width: 120px;
  margin-top: -35px;
  position: absolute;
}
