.wholepage{
  width: 95%;
}


.head-section {
  width: 100%;
  height: 80px;
}
.content h1 {
  color:black;
  margin: 250px;
  position: absolute;
  height: 400px;
  margin-left: 50px;
  font-size: 40px;
}

.container {
  width: 100%;
  height: 68px;
  background-color: black;
  display: flex;
}
.backimage {
  width: 100%;
  position: absolute;
  height: 700px;
 
}
nav ul {
  color:white;
font-weight: bold;
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-left: 800px;
  font-size: 6mm;
  margin-top: 11px;
}
.button {
  width: 250px;
  margin-top: 450px;
  text-align: center;
  font-size: 35px;
  color: black;
  font-weight: 400;
  border: 5px solid black;
  border-radius: 100px;
  cursor: pointer;
  transition: 1.5s;
 position: absolute;
  margin-left: 60px;
}
.button:hover{
  color:whitesmoke;
  background-color: rgb(6, 84, 23);
  border: 5px solid rgb(242, 175, 51);
}

.second-layout {
  width: 100%;
  height: 500px;
  margin-top: 840px;
}
.second-layout h2 {
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 40px;
}
.second-layout .image {
  display: flex;
  gap: 23rem;
}
.second-layout p {
  margin-left: 40px;
}
.second-layout h1 {
  align-items: center;
  font-size: 70px;
  font-weight: bolder;
  margin-left: 327px;
}
.recipes{
  width: 100%;
  height: 600px;
  margin-top: 100px;
}
.recipes h1{
  font-size: 70px;
  font-weight: bolder;
  margin-left: 30%;
}
.recipes .list{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.recipes .list .box{
width: 32%;
height: 300px;
}

.box img{
  width: 100%;
  height: 100%;
}

.Box{
  height: 400px;
  width: 99%;
  background-color:whitesmoke;
}
.Box .content1{
  display: flex;
  height: 380px;
  margin-top: 5px;
  gap: 8rem;
  position: relative;

}
.Box .content1 h1 {
  color:black;
  margin-top: 166px;
  font-weight: bolder;
  font-size: 40px;
}
.Box  p {
  color: black;
  font-size: 20px;
}
.restaurents h1{
  font-size: 70px;
  font-weight: bolder;
  margin-left: 33%;
}
.footer{
  width: 100%;
  height: 300px;
  background-color: black;
}
.footer ul {
  color: white;
  display: flex;
}

